body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./bg/bg-black.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

.menu {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url('./circle-menu/magic-circle.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu-item {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-item img {
    transform: scale(2);
    width: 30px;
    height: 30px;
}

.center-item {
    transform: scale(3);
    z-index: 1;
}

#description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
}